body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/*

/* index.html styles */

.hero-image {
    background-image: url('https://images.pexels.com/photos/2908984/pexels-photo-2908984.jpeg');
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero-button {
    font-size: 200%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* library.html styles */

.book-card {
    height: 25vh;
}

.review-btn {
    margin-top: 2vh;
}

/* contact.html styles */

.map-image {
    background-image: url('https://github.com/JCook22/camberley-book-buddies/blob/main/camberleybookbuddies/static/images/map-image.png?raw=true');
    width: 100%;
    height: 25vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}