{% extends "base.html" %}
{% block content %}

<h3 class="light-green lighten-1 center-align">Contact Us</h3>

<div class="row">
    <div class="contact-information col s12 m6">
        <h4>Where To Find Us</h4>
        <p>You can find us located inside the Login Lounge on Park Street.
        <p>Park Street,</p>
        <p>Camberley,</p>
        <p>Surrey</p>
        <p><strong>GU15 3PL</strong></p>
        <p><strong>Monday  : 18:30-20:30</strong></p>
        <p><strong>Thursday: 18:30-20:30</strong></p>

    </div>
    <div class="map-image col s12 m6">
    </div>
</div>
<div class="row">
    <div class="enquiries col s12 center-align">
        <h4>Enquiries</h4>
        <p>Have any questions? Don't hesitate to contact us on:</p>
        <p>55576 123789 / notarealemail@bookbuddies.com</p>
    </div>
</div>

{% endblock %}