{% extends "base.html" %}
{% block content %}

<h3 class="light-green lighten-1 center-align">Contact Us</h3>

<section>
    <div class="contact-information">
        <h4>Where To Find Us</h4>
        <p>You can find us located inside the Login Lounge on Park Street, Mondays and Thursdays from 18:00-20:30.</p>
    </div>
    <div class="map-container">
    </div>
</section>

<section>
    <div class="enquiries">
        <h4>Enquiries</h4>
        <p>Have any questions? Don't hesitate to contact us on:</p>
        <p>55576 123789 / notarealemail@bookbuddies.com</p>
    </div>
</section>

{% endblock %}