{% extends "base.html" %}
{% block content %}

<h3 class="light-green lighten-1 center-align">Welcome to Camberley Book Buddies!</h3>

<section>
    <div class="row">
        <div class="hero-image col s12 center-align">
            <a href="{{ url_for('library') }}" class="hero-button btn-large light-green darken-1">Library <i class="fa-solid fa-book"></i></a>
        </div>
    </div>
    <div class="row introduction">
        <div class="col s12 center-align">
            <h4>What is Camberley Book Buddies?</h4>
            <p>Camberley Book Buddies is a book club that started in Surrey, England.</p> 
            <p>Our members love of books is what unites us all and we wanted to expand so we could share that enjoyment with as many people as possible.</p>
            <p>Within our library you can find books read by our users and read their reviews.</p>
            <p><strong>You can even add your own! Welcome to the club.</strong></p>
        </div>
    </div>
</section>

{% endblock %}