{% extends "base.html" %}
{% block content %}

<h3 class="light-green lighten-1 center-align">Welcome to Camberley Book Buddies!</h3>

<section>
    <div class="introduction">
        <h4>What is Camberley Book Buddies?</h4>
        <p>Camberley Book Buddies is a book club that started in Surrey, England. Our members love of books is what unites us all and we wanted to expand that so we could share the enjoyment with as many people as possible.</p>
    </div>
    <div class="image-container">
    </div>
</section>
<section>
    <h4>Get Started</h4>
    <div class="search">
        <a href="">Search Our Library</a>
        <p>Search our library of books we have read and reviewed so far.</p>
    </div>
    <div class="review">
        <a href="">Review A Book</a>
        <p>Want to give your thoughts on one of our reads?</p>
    </div>
    <div class="add">
        <a href="">Add A Book</a>
        <p>Want to add a book for others to review?</p>
    </div>
</section>

{% endblock %}