{% extends "base.html" %}
{% block content %}

<h3 class="light-green lighten-1 center-align">Welcome to Camberley Book Buddies!</h3>

<section>
    <div class="introduction">
        <h4>What is Camberley Book Buddies?</h4>
        <p>Camberley Book Buddies is a book club that started in Surrey, England. Our members love of books is what unites us all and we wanted to expand that so we could share the enjoyment with as many people as possible.</p>
    </div>
    <div class="image-container">
    </div>
</section>

{% endblock %}