{% extends "base.html" %}
{% block content %}

<h3 class="light-green lighten-1 center-align">Library</h3>

<section>
    <div>
        <h4>Welcome to our library! Here you can view records of all the books previously read by members and the reviews.</h4>
    </div>
    <div class="library">
        <div class="row">
            {% for book in library %}
            <div class="col s12 m6 l3">
              <div class="card light-green darken-1 center-align">
                <div class="card-content white-text">
                  <span class="card-title">{{ book.book_title }}</span>
                <div class="card-action">
                  <a href="#" class="btn grey lighten-3">View Reviews</a>
                  <a href="#" class="btn grey lighten-3">Add A Review</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

    </div>
</section>

{% endblock %}